.countdown-form-container {
	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    #d5d5d5;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #d5d5d5;
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #d5d5d5;
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    #d5d5d5;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
	   color:    #d5d5d5;
	}

	& .form-control {
		outline: none;
		-webkit-box-shadow: 0 4px 6px -6px #222;
		-moz-box-shadow: 0 4px 6px -6px #222;
		box-shadow: 0 4px 6px -6px #222;
		border: 0;
		border-bottom: 1px solid #F5F5F5;
		min-height: 2.75rem;
		font-size: 1.5rem;
		& focus {
			outline: none;
			-webkit-box-shadow: 0 4px 6px -6px #222;
			-moz-box-shadow: 0 4px 6px -6px #222;
			box-shadow: 0 4px 6px -6px #222;
			border: 0;
			border-bottom: 1px solid #F5F5F5;
			}
		}		

	& form button {
		width:100%;
		font-weight:bold;
		border-radius: 0;
		margin-top: 1rem;
		font-size: 1.5rem;
	}

}