.nav-container {
	background-color: $nav-background;
	min-height: 6em;
	nav {
	vertical-align: middle;
	padding:2em 0 2em 0;
	font-weight: bold;
	}
	& .nav-item a.title {
		margin-right:5em;
		color: $nav-text-color;
		font-size:1.75rem;
		min-width: 100%;
	}
	& .nav-item a.counter, a.timer, a.author {
		font-size: 1.25rem;
		min-width: 100%;
		margin: 0.25em 3em 0 3em;
	}
}